.place__title {
	grid-area: place__title;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	margin: 0;
	padding: 0;
	max-width: 460px;
}

@media screen and (max-width: 976px) {
	.place__title {
		font-size: 42px;
		line-height: 46px;
		max-width: 330px;
	}
}

@media screen and (max-width: 660px) {
	.place__title {
		font-size: 32px;
		line-height: 35px;
		margin-left: 17px;
	}
}