.place {
	margin: 80px auto 0 auto;
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-template-columns: 460px 1fr;
	grid-template-areas: 
	"place__title place__website"
	"place__image place__paragraphs";
	grid-column-gap: 40px;
	grid-row-gap: 48px;
	max-width: 984px;
	font-family: Inter, Arial, sans-serif;
	color: #fff;
}

@media screen and (max-width: 1080px) {
	.place {
		grid-template-columns: 440px 1fr;
		grid-column-gap: 32px;
		max-width: 928px;
	}
}

@media screen and (max-width: 976px) {
	.place {
		margin-top: 75px;
		grid-template-columns: 340px 1fr;
		grid-column-gap: 28px;
		grid-row-gap: 45px;
		max-width: calc(100% - 24px*2);
		margin-left: 24px;
		margin-right: 24px;
	}

	.place:first-child {
		margin-top: 91px;
	}
}

@media screen and (max-width: 660px) {
	.place {
		margin-top: 48px;
		margin-left: 0;
		margin-right: 0;
		grid-gap: 32px;
		grid-template-rows: repeat(3, max-content);
		grid-template-columns: 1fr;
		grid-template-areas: 
		"place__title"
		"place__image"
		"place__paragraphs";
		max-width: 100%;
	}

	.place:first-child {
		margin-top: 64px;
	}
}